<!-- pokemon pokemon -->
<div class="pokemon-detail">
    <!-- pokemon-pokemon-summary -->
    <div class="pokemon-detail-summary" layout="row">
        <div class="avatar">
            <div class="avatar-body">
                <img ng-src="{{PokemonCtrl.getPokemonAvatar(PokemonCtrl.pokemon)}}" class="face" alt="Circular Image">
            </div>
        </div>
        <div class="info" flex>
            <h1 class="pokemon-detail-name">{{PokemonCtrl.getPokemonName(PokemonCtrl.pokemon)}}&nbsp;<small>#{{PokemonCtrl.getPokemonId(PokemonCtrl.pokemon)}}</small></h1>
            <div class="btn-wrap">
                <a class="btn pokemon-btn">FAIRY</a>
                <a class="btn pokemon-btn species-btn" pk-species="seed">Species <span>Seed</span></a>

            </div>
        </div>
    </div><!-- end pokemon-pokemon-summary -->

    <!-- pokemon-pokemon-intro -->
    <div class="pokemon-detail-item pokemon-detail-intro">
        <div class="pokemon-detail-title">
            <h2>Intro</h2>
        </div>
        <div class="pokemon-detail-content">
            <ul class="list list-horizontal">
                <li class="list-item">Height:<span>{{PokemonCtrl.getPokemonHeight(PokemonCtrl.pokemon)}}</span></li>
                <li class="list-item">Weight:<span>{{PokemonCtrl.getPokemonWeight(PokemonCtrl.pokemon)}} lbs ($.$ kg)</span></li>
                <li class="list-item">Japanese:<span>Fushigidane</span></li>
            </ul>
        </div>
    </div><!-- end pokemon-pokemon-intro -->

    <!-- pokemon-pokemon-weakness -->
    <!--<div class="pokemon-detail-item pokemon-detail-weakness">-->
        <!--<div class="pokemon-detail-title">-->
            <!--<h2>Weakness</h2>-->
        <!--</div>-->
        <!--<div class="pokemon-detail-content">-->
            <!--<div class="btn-group">-->
                <!--<button class="pokemon-btn" pk-type="grass">Grass</button>-->
                <!--<button class="pokemon-btn" pk-type="poison">Poison</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- end pokemon-pokemon-weakness -->

    <!-- pokemon-pokemon-stats -->
    <div class="pokemon-detail-item pokemon-detail-stats">
        <div class="pokemon-detail-title">
            <h2>Basic stats</h2>
        </div>
        <div class="pokemon-detail-content">
            <div layout="row" layout-align="start center">
                <h3>HP</h3>
                <div class="progressbar-info">{{PokemonCtrl.pokemonHp}}</div>
                <div class="progressbar" flex>
                    <span class="progressbar-active" style="width: {{PokemonCtrl.drawChartHp.percentage}}%; background-color: {{PokemonCtrl.drawChartHp.color}};"></span>
                </div>
            </div>
            <div layout="row" layout-align="start center">
                <h3>Atk</h3>
                <div class="progressbar-info">{{PokemonCtrl.pokemonAttack}}</div>
                <div class="progressbar" flex>
                    <span class="progressbar-active" style="width: {{PokemonCtrl.drawChartAttack.percentage}}%; background-color: {{PokemonCtrl.drawChartAttack.color}};"></span>
                </div>
            </div>
            <div layout="row" layout-align="start center">
                <h3>Def</h3>
                <div class="progressbar-info">{{PokemonCtrl.pokemonDefense}}</div>
                <div class="progressbar" flex>
                    <span class="progressbar-active" style="width: {{PokemonCtrl.drawChartDefense.percentage}}%; background-color: {{PokemonCtrl.drawChartDefense.color}};"></span>
                </div>
            </div>
            <div layout="row" layout-align="start center">
                <h3>Sp.Atk</h3>
                <div class="progressbar-info">{{PokemonCtrl.pokemonSpAtk}}</div>
                <div class="progressbar" flex>
                    <span class="progressbar-active" style="width: {{PokemonCtrl.drawChartSpAtk.percentage}}%; background-color: {{PokemonCtrl.drawChartSpAtk.color}};"></span>
                </div>
            </div>
            <div layout="row" layout-align="start center">
                <h3>Sp.Def</h3>
                <div class="progressbar-info">{{PokemonCtrl.pokemonSpDef}}</div>
                <div class="progressbar" flex>
                    <span class="progressbar-active" style="width: {{PokemonCtrl.drawChartSpDef.percentage}}%; background-color: {{PokemonCtrl.drawChartSpDef.color}};"></span>
                </div>
            </div>
            <div layout="row" layout-align="start center">
                <h3>Speed</h3>
                <div class="progressbar-info">{{PokemonCtrl.pokemonSpeed}}</div>
                <div class="progressbar" flex>
                    <span class="progressbar-active" style="width: {{PokemonCtrl.drawChartSpeed.percentage}}%; background-color: {{PokemonCtrl.drawChartSpeed.color}};"></span>
                </div>
            </div>
            <div class="total">Total:{{PokemonCtrl.pokemonHp + PokemonCtrl.pokemonAttack + PokemonCtrl.pokemonDefense + PokemonCtrl.pokemonSpAtk + PokemonCtrl.pokemonSpDef + PokemonCtrl.pokemonSpeed}}</div>
        </div>
    </div><!-- end pokemon-pokemon-stats -->

    <!-- pokemon-pokemon-abilities -->
    <div class="pokemon-detail-item pokemon-detail-abilities">
        <div class="pokemon-detail-title">
            <h2>Abilities</h2>
        </div>
        <div class="pokemon-detail-content">
            <ul class="list list-horizontal">
                <li class="list-item" ng-repeat="ability in PokemonCtrl.pokemonAbilities"><a href="">{{ability.name}}</a></li>
            </ul>
        </div>
    </div><!-- end pokemon-pokemon-abilities -->

    <!-- pokemon-pokemon-breeding -->
    <div class="pokemon-detail-item pokemon-detail-weakness">
        <div class="pokemon-detail-title">
            <h2>Breeding</h2>
        </div>
        <div class="pokemon-detail-content">
            <ul class="list list-horizontal">
                <li class="list-item">Egg Groups:<item ng-repeat="eggGroup in PokemonCtrl.pokemonEggGroups"><a href="">{{eggGroup.name}}</a><dot ng-show="!$last">,</dot></item>
                </li>
                <!--<li class="list-item">Gender:<span>87.5% male, 12.5% female</span></li>-->
                <li class="list-item">Egg Cycles:<span>{{PokemonCtrl.getPokemonEggCycles(PokemonCtrl.pokemon)}}</span></li>
            </ul>
        </div>
    </div><!-- end pokemon-pokemon-breeding -->

    <!-- pokemon-pokemon-evolutions -->
    <div class="pokemon-detail-item pokemon-detail-evolutions">
        <div class="pokemon-detail-title">
            <h2>Evolutions</h2>
        </div>
        <div class="pokemon-detail-content">
            <article ng-repeat="pokemon in PokemonCtrl.pokemonEvolutionGroup | filter: PokemonCtrl.exist" ui-sref="justdex.pokemon({pokemon: pokemon.name})">
                <div class="pokemon-detail-summary" layout="row">
                    <div class="avatar">
                        <div class="avatar-body">
                            <img ng-src="{{PokemonCtrl.getPokemonAvatar(pokemon)}}" class="face" alt="Circular Image">
                        </div>
                    </div>
                    <div class="info" flex>
                        <h2 class="pokemon-detail-name">{{PokemonCtrl.getPokemonName(pokemon)}}&nbsp;<small>#{{PokemonCtrl.getPokemonId(pokemon)}}</small></h2>
                        <div class="btn-wrap">
                            <a class="btn pokemon-btn">FAIRY</a>
                            <a class="btn pokemon-btn species-btn" pk-species="seed">Species <span>Seed</span></a>
                        </div>
                    </div>
                </div>
                <div class="pokemon-evolution-arrow" ng-show="!$last"></div>
            </article>

        </div>
    </div><!-- end pokemon-pokemon-evolutions -->
</div><!-- end pokemon pokemon -->